//
// Code (inline and blocK)
// --------------------------------------------------


// Inline and block code styles

// Inline code
code {
  white-space: nowrap;
}

// Blocks of code
pre {
  line-height: @line-height-base;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;

  // Make prettyprint styles more spaced out for readability
  &.prettyprint {
    margin-bottom: @line-height-base;
  }

  // Account for some code outputs that place code tags in pre tags
  code {
    padding: 0;
    color: inherit;
    white-space: pre;
    white-space: pre-wrap;
    background-color: transparent;
    border: 0;
  }
}

// Enable scrollable blocks of code
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
