{% include header.html header="default" %}

<article>
    <div class="container">
        <div class="row">
            <h1 class="ten columns offset-by-one">{{ page.title }}</h1>
        </div>
{% if page.blurb %}
    </div>

    <section id="blurb" class="{{ page.path | remove: '/index.md' }}">
        <div class="container">
            <div class="row">
                <div class="ten columns offset-by-one">
                    {{ page.blurb | markdownify }}
                </div>
            </div>
        </div>
    </section>

    <div class="container">
{% endif %}
        <div class="row">
            <div class="ten columns offset-by-one">
                {{ content }}
            </div>
        </div>
    </div>
</article>

{% include footer.html %}
