/* reset */
abbr[title], acronym[title] {
    text-decoration: inherit;
}

body {
    background: #FCFCFC;
    color: #586E75;
    font-size: 1.6rem;
    font-family: Palatino, "Palatino Linotype", "Times New Roman", Times, serif;
}

header {
    background: #073642 url(../img/blue-sand.png) repeat;
    color: #EEEEEE;
}

header h1 {
    margin: 0;
}

@media (min-width: 550px) {
    header.default,
    header.default * {
        height: 200px;
        line-height: 200px;
    }

    header.main,
    header.main * {
        height: 400px;
        line-height: 400px;
    }
}

header h1 .klmr {
    font-family: Futura, "Avenir Next", Roboto, sans-serif;
    font-weight: bold;
    font-variant: small-caps;
}

header h1 .klmr-me {
    font-family: Palatino, "Palatino Linotype", Times New Roman, Times, serif;
    font-style: italic;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
    margin: 2rem 0 0;
}

article h1 {
    font-size: 5rem;
    margin: 1rem 0;
}

p {
    margin: 0;
}

article p + p {
    text-indent: 1rem;
}

#profile {
    border-radius:10px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

#blurb p + p {
    margin-top: 0.5rem;
    text-indent: 0;
}

a {
    color: #8a90a7;
}

a:hover {
    color: inherit;
    transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
}

#blurb {
    box-shadow:
        inset 0px 1rem 0.5rem -0.5rem #00000080,
        inset 0 -1rem 0.5rem -0.5rem #00000080;
    color: #DDDDDD;
    font-size: 2rem;
    overflow: hidden;
    position: relative;
}

#blurb::before {
    background: #073642 url(../img/arrows.png) 0 0 repeat;
    content: "";
    height: 400%;
    left: -50%;
    position: absolute;
    top: -100%;
    transform: rotate(20deg);
    width: 200%;
    z-index: -1;
}

@media (min-width: 550px) {
    #blurb {
        padding: 1rem 0;
    }
}

footer {
    background: #667275;
    color: #3D3D3D;
    margin: 1rem 0 0;
    padding: 1rem;
}

@media (min-width: 550px) {
    footer {
        margin-top: 4rem;
    }
}

footer p {
    font-size: 1.4rem;
    margin: 0;
    text-align: center;
    text-shadow: 1px 1px 1px #6B868F;
}

footer a, footer a:hover {
    color: inherit;
}

.bib.authors {
    color: #72888F;
}

.bib.journal {
    font-style: italic;
}
