@import '_include/includes.less';

header {
  .container-fluid();
  background: @base02 url(../img/blue-sand.png) repeat;
  color: @base2;
  height: 150px;
  padding: 100px 0 0;

  & > div {
    #grid.fluid.row-fluid();

    h1 {
      margin: 0;
      #grid.fluid.span(8);
      #grid.fluid.offset(2);

      .klmr {
        font-family: Futura;
        font-variant: small-caps;
      }

      .klmr-me {
        font-family: Palatino, Palatino Linotype;
        font-style: italic;
      }
    }
  }
}

article {
  #grid.fluid.row-fluid();

  & > h1 {
    #grid.fluid.span(8);
    #grid.fluid.offset(2);
  }
}

section {
  #grid.fluid.span(8);
  #grid.fluid.offset(2);

  p {
    text-align: justify;
  }

  h1 {
    font-size: 2em;
    margin-top: 1em;

    &:before {
      content: '¶';
      font-family: Times;
      font-style: italic;
      display: block;
      float: left;
      margin: 0 0 0 -1.5em;
      visibility: hidden;
      width: 1.5m;
    }

    &:hover:before {
      visibility: visible;
    }
  }
}

footer {
  margin: 0;
  background: @base02;
  color: darken(@base02, 15%);
  padding: 1em;

  p {
    text-align: center;
    font-size: 0.8em;
    text-shadow: 0px 1px 0px lighten(@base02, 10%);
  }

  a, a:hover {
      color: inherit;
  }
}
