
        <footer>
            <ul>
                <li>&copy; Konrad Rudolph</li>
                <li><a href="https://creativecommons.org/licenses/by/3.0/">CC-BY</a></li>
                <li><a href="mailto:konrad.rudolph@gmail.com"><i class="fas fa-envelope"></i></a></li>
                <li><a rel="me" href="https://mastodon.social/@klmr"><i class="fab fa-mastodon"></i></a></li>
                <li><a rel="me" href="https://github.com/klmr"><i class="fab fa-github"></i></a></li>
                <li><a rel="me" href="https://stackoverflow.com/users/1968/konrad-rudolph"><i class="fab fa-stack-overflow"></i></li></a>
                <li><a rel="me" href="https://www.linkedin.com/in/konradrudolph/"><i class="fab fa-linkedin"></i></a></li>
                <li><a rel="me" href="http://orcid.org/0000-0002-9866-7051"><i class="fab fa-orcid"></i></a></li>
            </ul>
        </footer>
    </body>
</html>
