
        <footer>
            <p>
                &copy; Konrad Rudolph ·
                <a href="https://creativecommons.org/licenses/by/3.0/">CC-BY</a>
                · <a href="mailto:konrad.rudolph@gmail.com"><i class="fas fa-envelope"></i></a>
                · <a href="https://twitter.com/klmr"><i class="fab fa-twitter"></i></a>
                · <a href="https://github.com/klmr"><i class="fab fa-github"></i></a>
                · <a href="https://stackoverflow.com/users/1968/konrad-rudolph"><i class="fab fa-stack-overflow"></i></a>
                · <a href="https://www.linkedin.com/in/konradrudolph/"><i class="fab fa-linkedin"></i></a>
                · <a href="http://orcid.org/0000-0002-9866-7051"><i class="fab fa-orcid"></i></a>
            </p>
        </footer>
    </body>
</html>
