<!DOCTYPE html>
<html lang="en">
    <head prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile#">
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{{ page.title | downcase }} :: klmr.me</title>
        <link rel="stylesheet" href="/css/normalize.css"/>
        <link rel="stylesheet" href="/css/mini-skeleton.css"/>
        <link rel="stylesheet" href="/css/main.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.0/css/solid.css" integrity="sha384-1Ln0i7HCe1LMHO25AgX/9s/3XzTLIMev2SYgQz8xSyXSa3775gIb15NIpJoDRYDg" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.0/css/brands.css" integrity="sha384-ngkCSSyhFgmeG9/8GICGMwnX44Q70/NN2XuNgrpMHOAjXVjYwTvtQML/2+2EH5mm" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.0/css/fontawesome.css" integrity="sha384-saSWCOAroWA1DTfG19axC5l7ej+/lsLpGrQjthhULGGw0FKZqZmxdjRhWqjypqgH" crossorigin="anonymous"/>
        {% if page.canonical %}
        <link rel="canonical" href="{{ page.canonical }}"/>
        <meta property="og:url" content="{{ page.canonical }}"/>
        {% else %}
        <link rel="canonical" href="{{ site.url }}{{ page.url }}"/>
        <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
        {% endif %}
        <meta property="og:title" content="{{ page.title }}"/>
        <meta name="author" content="{{ page.author | default: "Konrad Rudolph" }}"/>
        {% if page.description %}
        <meta name="description" content="{{ page.description }}"/>
        <meta property="og:description" content="{{ page.description }}"/>
        {% endif %}
        {% if page.image %}
        <meta property="og:image" content="{{ page.image }}"/>
        {% endif %}
        <meta name="twitter:card" content="summary_large_image"/>
        {% if page.meta %}{{ page.meta }}{% endif %}
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <header class="{{ include.header }}">
            <div class="container">
                <div class="row">
                    <h1 class="ten columns offset-by-one">
                        <span class="klmr">klmr</span><span class="klmr-me">.me</span>
                    </h1>
                </div>
            </div>
        </header>
